.profile__avatar-cont {
    width: 120px;
    min-height: 120px;
    background-image: url(../../../images/edit-avatar.svg);
    background-size: 26px, 26px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 30px 0 0;    
}