.popup__text {
    margin: 30px auto 0;
    padding: 0;
    border: none;
    width: 83%;
    background: url(../../../images/form-line.svg) bottom no-repeat;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    min-height: 30px;
}