.profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 0 30px 0 0;
    border-radius: 50%;
}

.profile__avatar:hover {
    opacity: 0.2;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

@media screen and (max-width: 568px) {
    .profile__avatar {
        margin: 0;
    }
}