.profile__edit-button {
    background-color: #000000;
    margin: 0 0 0 18px;
    padding: 0 0 5px 0;
    border: none;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 568px) {
    .profile__edit-button {
        padding: 25px 0 0 0;
        margin: 0 0 0 10px;
    }
}